body, html{
    padding : 0px;
    margin : 0px;
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
header{
    width: 100%;
    font-family: Orbitron, sans-serif;
    font-size: calc(45px + 1.25vw);
    color: ivory;
    text-align: center;
    text-justify: center;
    background-color: #e24848;
}

button{
    display: flex;
    aspect-ratio: 1;
    background-color: transparent;
    border: none;
    }
img{
    width : max(10vw, 75px);
}
header>p{
    margin: 0px;
    padding: 0px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15 px;
    height: min(10vh, 50px);
    width: 100%;
    font-family: fantasy;
    justify-self: flex-end;
    background-color: teal;
    margin-top: auto;
}
footer>.p{
    color: aliceblue;
}
.disp_results>p{
    align-self: center;
    width: 50%;
    text-align: center;
}

.disp_results{
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre-line;
   /*  text-align: center;
    text-justify: center; */
    width: 100vw;
    height: min(50vw, 200px);
    font-family: 'Press Start 2P';

}
.controls{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: max(25px,10vw);
}